@model EventPartViewModel
@using System.Text.Json

<script id="eventDataScript" type="application/json">
    @{
        var combinedEventData = new
        {
            FientaEventListLt = Model.FientaEventListLt,
            FientaEventListEn = Model.FientaEventListEn
        };
    }
    @Html.Raw(JsonSerializer.Serialize(combinedEventData))
</script>

<fieldset class="form-group" asp-validation-class-for="TitleLt" style="margin-bottom: 20px;">
    <label asp-for="TitleLt">
        Title LT
    </label>

    <input asp-for="TitleLt"
           class="form-control"
           value="@Model.TitleLt"
           required/>

    <span class="hint">
        Title in Lithuanian language
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="TitleEn" style="margin-bottom: 20px;">
    <label asp-for="TitleEn">
        Title EN
    </label>

    <input asp-for="TitleEn"
           class="form-control"
           value="@Model.TitleEn"
           required/>

    <span class="hint">
        Title in English language
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="FbEventLink" style="margin-bottom: 20px;">
    <label asp-for="FbEventLink">
        Facebook event link
        <span asp-validation-for="FbEventLink"></span>
    </label>

    <input asp-for="FbEventLink"
           class="form-control"
           value="@Model.FbEventLink"
           type="url"
           required/>

    <span class="hint">
        Insert event facebook url. Example: https://www.facebook.com/events/3526931650915426
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="FientaTicketLinkLt" style="margin-bottom: 20px; display: flex; gap: 20px;">
    <div>
        <label class="form-label" asp-for="FientaTicketLinkLt">
            Select Fienta event
        </label>

        <select asp-for="FientaTicketLinkLt" asp-items="@Model.FientaEventOptions"
                class="form-control">
            <option value="">None</option>
        </select>


        <span class="hint">
            Choose your Fienta event. If there is no Fienta event set it to None.
        </span>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button
            type="button"
            id="importDataButton"
            class="btn btn-primary"
            style="display:none;">
            Import data from Fienta
        </button>
    </div>
</fieldset>

<input asp-for="FientaTicketLinkEn" type="hidden" value="@Model.FientaTicketLinkEn" class="form-control">

<fieldset class="form-group" asp-validation-class-for="Address" style="margin-bottom: 20px;">
    <label asp-for="Address">
        Event address - <i>Optional</i>
        <span asp-validation-for="Address"></span>
    </label>

    <input asp-for="Address"
           class="form-control"
           value="@Model.Address"/>

    <span class="hint">
        Insert location of the event.
    </span>
</fieldset>

<div style="margin-bottom: 20px; display: flex; gap: 20px;">
    <fieldset class="form-group" asp-validation-class-for="StartDate">
        <div>
            <label class="form-label" asp-for="StartDate">
                Event start date
                <span asp-validation-for="StartDate"></span>
            </label>

            <input
                asp-for="StartDate"
                type="text"
                class="form-control datetimepicker"
                value="@Model.StartDate.ToString("yyyy-MM-dd HH:mm")"
                required/>
        </div>
    </fieldset>

    <fieldset class="form-group" asp-validation-class-for="EndDate">
        <div>
            <label class="form-label" asp-for="EndDate">
                Event end date
                <span asp-validation-for="EndDate"></span>
            </label>

            <input
                asp-for="EndDate"
                type="text"
                class="form-control datetimepicker"
                value="@Model.EndDate.ToString("yyyy-MM-dd hh:mm")"
                required/>
        </div>
    </fieldset>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dropdown = document.getElementById('EventPart_FientaTicketLinkLt');
        var button = document.getElementById('importDataButton');

        function toggleButtonBasedOnDropdown() {
            if (dropdown.value) {
                button.style.display = 'block';
            } else {
                button.style.display = 'none';
            }
        }

        toggleButtonBasedOnDropdown();

        dropdown.addEventListener('change', toggleButtonBasedOnDropdown);

        flatpickr(".datetimepicker", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true,
            minDate: "today"
        });
    });

    document.getElementById('importDataButton').addEventListener('click', function () {
        var selectedEventUrl = document.getElementById('EventPart_FientaTicketLinkLt').value;

        var urls = selectedEventUrl.split('|||');
        var urlLt = urls[0];
        var urlEn = urls.length > 1 ? urls[1] : '';

        var eventDataJson = document.getElementById('eventDataScript').textContent;
        var combinedEvents = JSON.parse(eventDataJson);

        var eventsLt = combinedEvents.FientaEventListLt;
        var eventsEn = combinedEvents.FientaEventListEn;

        var selectedEventLt = combinedEvents.FientaEventListLt.find(event => event.url === urlLt);
        var selectedEventEn = combinedEvents.FientaEventListEn.find(event => event.url === urlEn);

        if (selectedEventLt) {
            document.getElementById('EventPart_TitleLt').value = selectedEventLt.title || '';
            document.getElementById('EventPart_StartDate').value = selectedEventLt.starts_at || '';
            document.getElementById('EventPart_EndDate').value = selectedEventLt.ends_at || '';
            document.getElementById('EventPart_Address').value = selectedEventLt.address || '';

            document.getElementById('HtmlContent-EventtextLT').value = selectedEventLt.description || '';

            document.querySelector('#EventtextLT .ql-editor').innerHTML = selectedEventLt.description;
        }

        if (selectedEventEn) {
            document.getElementById('EventPart_TitleEn').value = selectedEventEn.title || '';
            document.getElementById('HtmlContent-EventtextEN').value = selectedEventLt.description || '';
            document.getElementById('EventPart_FientaTicketLinkEn').value = urlEn || '';

            document.querySelector('#EventtextEN .ql-editor').innerHTML = selectedEventEn.description;
        }
    });
</script>