@model EventPartViewModel

<fieldset class="form-group" asp-validation-class-for="TitleLt" style="margin-bottom: 20px;">
    <label asp-for="TitleLt">
        Title LT
    </label>

    <input asp-for="TitleLt"
           class="form-control"
           value="@Model.TitleLt"
           required />

    <span class="hint">
        Title in Lithuanian language
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="TitleEn" style="margin-bottom: 20px;">
    <label asp-for="TitleEn">
        Title EN
    </label>

    <input asp-for="TitleEn"
           class="form-control"
           value="@Model.TitleEn"
           required />

    <span class="hint">
        Title in English language
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="FbEventLink" style="margin-bottom: 20px;">
    <label asp-for="FbEventLink">
        Facebook event link
        <span asp-validation-for="FbEventLink"></span>
    </label>

    <input asp-for="FbEventLink"
           class="form-control"
           value="@Model.FbEventLink"
           type="url"
           required />

    <span class="hint">
        Insert event facebook url. Example: https://www.facebook.com/events/3526931650915426
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="FientaTicketLink" style="margin-bottom: 20px; display: flex; gap: 20px;">
    <div>
        <label class="form-label" asp-for="FientaTicketLink">
            Select Fienta event
        </label>

        <select asp-for="FientaTicketLink"
                asp-items="@Model.FientaEventOptions"
                class="form-control">
            <option value="">None</option>
            @Model.FientaTicketLink
        </select>

        <span class="hint">
            Choose your Fienta event. If there is no Fienta event set it to None.
        </span>
    </div>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Address" style="margin-bottom: 20px;">
    <label asp-for="Address">
        Event address *Optional
        <span asp-validation-for="FientaTicketLink"></span>
    </label>

    <input asp-for="Address"
        class="form-control"
        value="@Model.Address"
    />

    <span class="hint">
       Insert location of the event.
    </span>
</fieldset>

<div style="margin-bottom: 20px; display: flex; gap: 20px;">
    <fieldset class="form-group" asp-validation-class-for="StartDate">
        <div>
            <label class="form-label" asp-for="StartDate">
                Event start date
                <span asp-validation-for="StartDate"></span>
            </label>

            <input 
                asp-for="StartDate"
                type="datetime-local"
                class="form-control"
                min="@DateTime.Today.ToString("yyyy-MM-dd hh:mm")"
                value="@Model.StartDate.ToString("yyyy-MM-dd hh:mm")"
                required
            />
        </div>
    </fieldset>

    <fieldset class="form-group" asp-validation-class-for="EndDate">
        <div>
            <label class="form-label" asp-for="EndDate">
                Event end date
                <span asp-validation-for="EndDate"></span>
            </label>

            <input 
                asp-for="EndDate"
                type="datetime-local"
                class="form-control"
                min="@DateTime.Today.ToString("yyyy-MM-dd hh:mm")"
                value="@Model.EndDate.ToString("yyyy-MM-dd hh:mm")"
                required
            />
        </div>
    </fieldset>
</div>