@model SaUnitPartViewModel

<fieldset class="form-group" asp-validation-class-for="UnitName" style="display: none">
    <label asp-for="UnitName">
        Sa unit Name
    </label>

    <input
        asp-for="UnitName"
        class="form-control"
        value="@Model.UnitName"/>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Address" style="margin-bottom: 20px;">
    <label asp-for="Address">
        Address of the FSA premises
    </label>

    <input asp-for="Address"
           class="form-control"
           value="@Model.Address"
           required/>

    <span class="hint">
        Write here what does this position
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="LinkedInUrl" style="margin-bottom: 20px;">
    <label asp-for="LinkedInUrl">
        FSA LinkedIn page url
    </label>

    <input asp-for="LinkedInUrl"
           class="form-control"
           value="@Model.LinkedInUrl"
           type="url"/>

    <span class="hint">
        Example: https://www.linkedin.com/company/ktu-fsa-infosa/
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="FacebookUrl" style="margin-bottom: 20px;">
    <label asp-for="FacebookUrl">
        FSA Facebook page url
    </label>

    <input asp-for="FacebookUrl"
           class="form-control"
           value="@Model.FacebookUrl"
           type="url"/>

    <span class="hint">
        Example: https://www.facebook.com/InfoSA
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="InstagramUrl" style="margin-bottom: 20px;">
    <label asp-for="InstagramUrl">
        FSA Instagram page url
    </label>

    <input asp-for="InstagramUrl"
           class="form-control"
           value="@Model.InstagramUrl"
           type="url"/>

    <span class="hint">
        Example: https://www.instagram.com/ktu_infosa/
    </span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="PhoneNumber" style="margin-bottom: 20px;">
    <label asp-for="PhoneNumber">
        Phone Number
    </label>

    <input asp-for="PhoneNumber"
           class="form-control"
           value="@Model.PhoneNumber"
           pattern="\+370[0-9]{8}"
           placeholder="+37012345678"
           type="tel"
           title="Phone number must be in +370xxxxxxxx format!"
           required/>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Email" style="margin-bottom: 20px;">
    <label asp-for="Email">
        Email address
    </label>

    <input asp-for="Email"
           class="form-control"
           value="@Model.Email"
           type="email"
           required/>
</fieldset>